.divclass{
    text-align: center;
    background-color: bisque;
    margin: 50px 300px 50px 300px;
    border: 5px solid red;
    border-radius: 10px;
    padding: 50px;
}
#h1{
    text-align: center;
}
* {
    background-color: azure;
}